### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### FlexBuilder template
bin/
bin-debug/
bin-release/

.idea
lex.yy.c
y.tab.c
y.output
y.tab.h
compilador

### vscode
.vscode/

### Resultado
resultado.txt
compilador.exe
symbol-table.txt
lyc-compiler-1.0.0.exe
lyc-compiler-2.0.0.exe
lyc-compiler-3.0.0.exe
tree.dot
intermediate-code.dot
instruccionesAssembler.txt
intermediate-code.png

#Clion
CMakeLists.txt
cmake-build-debug
cmake-build-debug/